<p id="notice"><%= notice %></p>

<h1> Categoría: <%= @category.name %> </h1>

<h2> Productos: </h2>
<ul>
  <% @category.products.each do|product| %>
    <li>
      <%= product.name %> 
      <%= product.price %> 
      
      <%= link_to "x",category_product_path(@category, product),
        method: :delete %>
     </li>
  <% end %>
</ul>

<%= form_with(model:[@category, Product.new], local: true) do |form| %>
  <%= form.hidden_field :category_id, value: @category.id %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name , id: :product_name %>
  </div>
  <div class="field">
  <%= form.label :price %>
  <%= form.number_field :price, id: :product_name %>
</div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
